<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title><%= foundListing.title %></title>
</head>
<body>
    <h2><%= foundListing.title %></h2>
    <p><%= foundListing.description %></p>
    <p>SELLER: <%= foundListing.seller.username %></p>
    <p><strong><%= foundListing.price %> BHD</strong></p>
    <img src="<%= foundListing.image %>" class="listing-img" alt="Image of <%= foundListing.title %>" />

    <% if (foundListing.seller._id.equals(user._id)) { %>
        <div class="actions"> 
            <form action="/listings/<%= foundListing._id %>?_method=DELETE" method="POST">
                <button type="submit">Delete</button>
            </form>
            <a href="/listings/<%= foundListing._id %>/edit">
                <button id="edit-button">Edit</button>
            </a>
        </div>
    <% } %>

    <h3>Leave a Comment</h3>
    <form action="/listings/<%= foundListing._id %>/comments" method="POST">
        <textarea name="content" id="" required></textarea>
        <button type="submit">Post Comment</button>
    </form>
    <h3>Comments</h3>
    <ul>
        <% foundListing.comments.forEach(comment => { %>
            <li>
                <%= comment.content %> - <%= comment.author.username %>
            </li>
        <% })%>
    </ul>
</body>
</html>